.card {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 100%;
    padding: 20px;
    border-radius: 20px;
    background: #fff;
    border: 1px solid #23262f;
    box-shadow: var(--box-shadow);
    transition: all 0.15s;
}

.selected {
    transform: scale(1.01);
    border-color: transparent;
    outline: 3px solid #0070f3;
}

.link {
    align-self: flex-end;
}

.name {
    font-weight: 700;
}

.city {
    font-weight: 700;
    color: #666;
}

.more {
    position: relative;
    color: #0070f3;
    font-size: 20px;
    transition: all 0.33s ease;
}

.more::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 1px;
    background-color: #0070f3;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.33s ease;
}

.more:hover {
    opacity: 0.8;
}
.more:hover::before {
    opacity: 0.8;
    transform: scaleX(1);
}

.input {
    appearance: none;
    position: absolute;
    top: 20px;
    right: 20px;
    width: 20px;
    height: 20px;
    border: 1px solid #23262f;
    border-radius: 4px;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
        border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.input:checked {
    background-color: #0070f3;
    border-color: #0070f3;
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 20 20'%3e%3cpath fill='none' stroke='%23fff' stroke-linecap='round' stroke-linejoin='round' stroke-width='3' d='m6 10 3 3 6-6'/%3e%3c/svg%3e");
}

.input:active {
    filter: brightness(90%);
}

.input:hover:not(:disabled) {
    border-color: #0d6efd;
}

.input:focus {
    border-color: #0d6efd;
    outline: none;
    box-shadow: 0 0 0 0.25rem rgba(13, 110, 253, 0.25);
}

.input:disabled {
    filter: none;
    opacity: 0.5;
    cursor: not-allowed;
}

.input:disabled ~ .checkbox-label {
    opacity: 0.5;
    cursor: not-allowed;
}
