/* .grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.card-1 {
    grid-column: 1;
}
.card-2 {
    grid-column: 2;
}
.card-3 {
    grid-column: 3;
}

.card-4 {
    grid-column: 1 / span 2;
}

.card-5 {
    grid-column: 2 / span 2;
}

.card {
    background: #f7f7f7;
    padding: 16px;
    border-radius: 10px;
    min-height: 120px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.08);
} */

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    width: 20%;
    padding: 20px;
    border-radius: 20px;
    background: #fff;
    border: 1px solid #23262f;
    box-shadow: var(--box-shadow);
}

.name {
    font-weight: 700;
}

.city {
    font-weight: 500;
}

.more {
    position: relative;
    color: #0070f3;
    font-size: 20px;
    transition: all 0.33s ease;
}

.more::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 100%;
    height: 1px;
    background-color: #0070f3;
    transform: scaleX(0);
    transform-origin: left;
    transition: all 0.33s ease;
}

.more:hover {
    opacity: 0.8;
}
.more:hover::before {
    opacity: 0.8;
    transform: scaleX(1);
}
