:root {
    --background: #ffffff;
    --foreground: #171717;
    --font-ubuntu: 'Ubuntu', sans-serif;
    --box-shadow: 0 0 20px #000000;
}

body {
    color: var(--foreground);
    font-family: var(--font-ubuntu);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #1c1c1c;
    background: linear-gradient(135deg, #1c1c1cf5 0%, #3a3a3a 100%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
    width: 100%;
}

.header {
    position: sticky;
    top: 0;
    z-index: 9999;
}
