:root {
    --background: #ffffff;
    --foreground: #171717;
    --font-ubuntu: 'Ubuntu', sans-serif;
}

html,
body {
    max-width: 100vw;
    overflow-x: hidden;
}

body {
    color: var(--foreground);
    background: var(--background);
    font-family: var(--font-ubuntu);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #1c1c1c;
    background: linear-gradient(90deg, #1c1c1c 0%, #3a3a3a 100%);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: inherit;
    text-decoration: none;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}
