.grid {
    margin: 30px 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 30px;
}

.card {
    cursor: pointer;
}

.fullWidth {
    grid-column: 1 / -1;
}

.list {
    position: relative;
}

.loading {
    padding: 40px;
    text-align: center;
    font-weight: 700;
    color: rgb(255, 255, 255);
}

@media screen and (max-width: 1000px) {
    .grid {
        text-align: center;
        margin: 20px 0;
        gap: 20px;
    }
}

@media screen and (max-width: 530px) {
    .grid {
        grid-template-columns: 1fr;
    }
}
