.grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.list {
    position: relative;
}

.loading {
    padding: 40px;
    text-align: center;
    font-weight: 700;
    color: rgb(255, 255, 255);
}
