.grid {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
}

.list {
    position: relative;
}

.deleteBtn {
    position: absolute;
    top: 0;
    right: -200px;
}
