.header {
    position: relative;
    width: 100%;
    background-color: var(--background);
    font-size: 20px;
    font-weight: 700;
    box-shadow: var(--box-shadow);
}

.wrapper {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
        text-transform: uppercase;
    }
}

.pos {
    position: relative;
}

.img {
    position: absolute;
    right: -80px;
    top: 0;
}

.deleteBtn {
    position: absolute;
    top: 96px;
    right: 40px;
}
