.header {
    position: relative;
    width: 100%;
    background-color: var(--background);
    font-size: 20px;
    font-weight: 700;
    text-align: center;
    box-shadow: var(--box-shadow);
}

.wrapper {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    h1 {
        text-transform: uppercase;
    }
}

.pos {
    position: relative;
}

.img {
    position: absolute;
    right: -80px;
    top: 0;
}

@media screen and (max-width: 680px) {
    .img {
        display: none;
    }
}

@media screen and (max-width: 580px) {
    .header {
        font-size: 15px;
    }
}

@media screen and (max-width: 480px) {
    .header {
        padding: 0 10px;
        font-size: 12px;
    }
}
