.delete {
    position: fixed;
    top: 100px;
    right: 20px;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    background: #fff;
    border: 1px solid #23262f;
    box-shadow: var(--box-shadow);
}

.btn {
    border: none;
    outline: none;
    background: #fff;
    cursor: pointer;
}

.btn:hover svg {
    fill: rgb(255, 39, 39);
}
