.delete {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border-radius: 20px;
    background: #fff;
    border: 1px solid #23262f;
    box-shadow: var(--box-shadow);
}

.btn {
    border: none;
    outline: none;
    background: #fff;
    svg {
        fill: #373737;
    }
}

.btn:hover svg {
    fill: rgb(255, 39, 39);
}
